
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4B0082;
}

header {
    display: flex;
    background-color: 	#8A2BE2;
    width: 100%;
    height: 100px;
    box-shadow: 6px 8px 7px;
    color: aliceblue;
    font-family: 'Fredoka One', cursive;
}

h1 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-family: 'Kavoon', cursive;
}

#nav {
    font-size: 22px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-right: 8px;
}

.option {
    border-radius: 12px;
    border: 1px solid white;
    padding: 8px;
}

.um:hover {
    font-size: 32px;
}

.dois:hover {
    font-size: 32px;
}

.tres:hover {
    font-size: 32px;
}


.option:hover {
    opacity: 0.8;
    cursor: pointer;
}

#foto {
    display: flex;
    justify-content: center;
}

#foto > img {
    background-size: cover;
    width: 250px;
    border-radius: 125px;
    margin-top: 24px;
    margin-bottom: 8px;
    border: 4px solid rgb(245, 206, 237);
}


.who-iam {
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: 18px;
    margin-bottom: 80px;
}

main {
    display: flex;
    flex-direction: column;
    color: aliceblue;
    font-size: 25px;
}

#merchan {
    display: flex;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}


.skills {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 180px;
}

.skills > ul {
    list-style: none;
    color: aliceblue;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.nav-com-links > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 40px;
    gap: 15px;
}


.fa-html5 {
    color: orange;
}

.fa-js {
    color: yellow;
}

.fa-bootstrap {
    color: #c998f7;
}

.fa-j {
    color: orange;
}

.fa-css3-alt {
    color: rgb(4, 4, 59);
}

.fa-linkedin {
    color: rgb(32, 32, 119);
}

.fa-github {
    color:black;
}

.fa-instagram {
    color: indianred;
}

.fa-linkedin:hover {
    opacity: 0.5;
    font-size: 45px;
}

.fa-github:hover {
    opacity: 0.5;
    font-size: 45px;
}

.fa-instagram:hover {
    opacity: 0.5;
    font-size: 45px;
}

footer {
    display: flex;
    color: white;
    justify-content: center;
    background-color: black;
    margin-bottom: 24px;
    margin-top: 16px;
}